In [2]:
import pandas as pd

In [9]:
pd.read_csv('../data/processed/vacancies.csv', encoding='utf-8')[['vacancy_id', 'name', 'query']]

,vacancy_id,name,query
3215,80432602,Старший инженер технической поддержки,['инженер данных']
7593,80246195,Старший персональный менеджер,['Artificial intelligence']
12471,80506204,Руководитель продуктовой аналитики в направлен...,"['data science', 'data analyst', 'data']"
10584,77422783,Инженер-проектировщик слаботочных систем,['инженер данных']
2490,76959978,Ведущий бизнес аналитик IT (senior/middle),['business analyst']
513,79392813,Руководитель отдела квалификации,"['машинное обучение', 'data', 'Big Data']"
1605,80245126,Специалист по ценообразованию,['аналитик данных']
3019,80144700,Врач психиатр-нарколог в психдиспансер,['Artificial intelligence']
2589,80502454,Бизнес-аналитик/менеджер проекта,['business analyst']
2242,80522993,Инженер данных,['инженер данных']
9105,80522408,Инженер-геодезист камеральной группы,['инженер данных']
444,80216597,Аналитик BI / Владелец системы отчетности,['business analyst']
4640,78657302,Специалист по внедрению CRM,['business analyst']
2131,76267012,Бизнес - аналитик 1С / Консультант 1С,['business analyst']
8555,80406301,Инженер,['инженер данных']
7450,76678627,Менеджер по корпоративным продажам,['business analyst']
7979,78721824,Врач статистик,['специалист по данным']
7607,80284754,Руководитель отдела продаж,['машинное обучение']
6678,80032455,Java Developer (Senior),"['data analyst', 'data engineer', 'Data Archit..."
7852,80029768,Специалист по охране труда и технике безопасности,['машинное обучение']
2160,80558611,Разработчик 1С (3-я линия технической поддержки),['аналитик данных']
7120,80521779,Портфельный риск-аналитик (управляющий директор),['аналитик данных']
2302,79925773,Старший менеджер проектов по развитию корпорат...,"['data', 'Big Data']"
5683,80614174,Сервис-менеджер для корпоративных клиентов (В2В),['Artificial intelligence']
1691,80262899,C++ software engineer (L1),['инженер данных']
8765,78420575,Менеджер по продажам ключевым клиентам,"['data engineer', 'data']"
12028,80580141,Руководитель проектов улучшения клиентского опыта,['аналитик данных']
8806,80556796,Печатник цифровой печати (оператор цифровой пе...,['машинное обучение']
1896,80512843,Инженер технической поддержки,['инженер данных']
8310,76208078,Инженер отдела по организации безопасности и к...,['инженер данных']
5838,79847581,Специалист индивидуального подбора,['Artificial intelligence']
4601,78128781,Middle Data scientist (Промо Прогноз),"['data scientist', 'machine learning', 'deep l..."
11282,79816841,C++/Qt/QML разработчик (Аврора/Android),['Artificial intelligence']
949,38813991,.net разработчик,['инженер данных']
10502,72404109,Оператор службы поддержки,"['специалист по данным', 'машинное обучение']"
11938,79114344,Бизнес-аналитик (по автоматизации бизнес-проце...,['business analyst']
8218,79445673,Экономист-аналитик,['аналитик данных']
6950,79501644,Администратор магазина,['аналитик данных']
2694,79478024,Data Engineer в команду «Сеть Продаж»,"['data science', 'ml', 'data engineer', 'data']"
6,80526157,"Повар кондитер в ресторан ""She""",['Artificial intelligence']

In [2]:
for a, b in enumerate(set(['a', 'b', 'c'])):
    print(a, b)

0 a
1 c
2 b