In [45]:
import json
from dataclasses import dataclass, asdict

@dataclass
class ParserConfig:
    min_random_sleep_ms : int = 1500
    max_random_sleep_ms : int = 4000
    max_requests_per_session : int = 100
    data_path = 'data/hh_parsed_folder'
    search_resuests = ['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst']

config_file_name = 'cnf/hh_parser.json'

a = {
    'min_random_sleep_ms' :  1500,
    'max_random_sleep_ms' :  4000,
    'max_requests_per_session' :  100,
    'data_path' : 'data/hh_parsed_folder',
    'search_resuests' : ['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst']
}

with open(config_file_name, 'w', encoding='utf-8') as f:
    json.dump(a, f, ensure_ascii=False)

with open(config_file_name, 'r', encoding='utf-8') as f:
    xx = json.load(f)
    print(xx)

{'min_random_sleep_ms': 1500, 'max_random_sleep_ms': 4000, 'max_requests_per_session': 100, 'data_path': 'data/hh_parsed_folder', 'search_resuests': ['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst']}

In [40]:
import jsonpickle
from dataclasses import dataclass, field
from typing import List

@dataclass
class ParserConfig:
    min_random_sleep_ms : int = 1500
    max_random_sleep_ms : int = 4000
    max_requests_per_session : int = 100
    data_path : str = 'data/hh_parsed_folder'
    search_resuests : List[str] = field(default_factory = lambda: (
        ['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst']))

config_file_name = 'cnf/hh_parser.json'

a = ParserConfig()

jsonpickle.set_preferred_backend('json')
jsonpickle.set_encoder_options('json', ensure_ascii=False)

with open(config_file_name, 'w', encoding='utf-8') as f:
    print(jsonpickle.encode(a, ))
    f.write(jsonpickle.encode(a))

with open(config_file_name, 'r', encoding='utf-8') as f:
    xx = jsonpickle.decode(f.read())
    print(xx)

{"py/object": "__main__.ParserConfig", "min_random_sleep_ms": 1500, "max_random_sleep_ms": 4000, "max_requests_per_session": 100, "data_path": "data/hh_parsed_folder", "search_resuests": ["data scientist", "аналитик данных", "machine learning", "data engineer", "data analyst"]}
ParserConfig(min_random_sleep_ms=1500, max_random_sleep_ms=4000, max_requests_per_session=100, data_path='data/hh_parsed_folder', search_resuests=['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst'])

In [3]:
import requests

payload = {'search_period': 14,
            'text': 'datascientist',
            'ored_clusters': True,
            'enable_snippets': True,
            'clusters': True,
            'area': 113,  # 113 - Russia
            'hhtmFrom': 'vacancy_search_catalog',
            'page': 1}

sessia = requests.Session()

req = sessia.get('https://hh.ru/search/vacancy?text=data+scientist', headers={'User-Agent': 'Custom'})

with open('temp.html', 'w') as f:
    f.write(req.text)

In [47]:
ParserConfig(max_random_sleep_ms=123) or ParserConfig()

ParserConfig(min_random_sleep_ms=1500, max_random_sleep_ms=123, max_requests_per_session=100)

In [ ]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

driver.maximize_window()
driver.implicitly_wait(30)
wait = WebDriverWait(driver, 30)
driver.get("https://www.flashscore.com/football/albania/")
wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "button#onetrust-accept-btn-handler"))).click()
try:
    wait.until(EC.presence_of_element_located((By.ID, "live-table")))
    wait.until(EC.visibility_of_element_located((By.CSS_SELECTOR, "section.event")))
    print(driver.page_source)
finally:
    driver.quit()

In [8]:
from datetime import datetime
datetime.today().strftime('%Y-%m-%d')

'2023-05-17'

In [9]:
# Python program to explain os.path.join() method

# importing os module
import os

# Path
path = "/home"

# Join various path components
print(os.path.join(path, "User/Desktop", "file.txt"))


# Path
path = "User/Documents"

# Join various path components
print(os.path.join(path, "/home", "file.txt"))

# In above example '/home'
# represents an absolute path
# so all previous components i.e User / Documents
# are thrown away and joining continues
# from the absolute path component i.e / home.


# Path
path = "/User"

# Join various path components
print(os.path.join(path, "Downloads", "file.txt", "/home"))

# In above example '/User' and '/home'
# both represents an absolute path
# but '/home' is the last value
# so all previous components before '/home'
# will be discarded and joining will
# continue from '/home'

# Path
path = "/home"

# Join various path components
print(os.path.join(path, "User/Public/", "Documents", ""))

# In above example the last
# path component is empty
# so a directory separator ('/')
# will be put at the end
# along with the concatenated value

/home/User/Desktop/file.txt
/home/file.txt
/home
/home/User/Public/Documents/

In [1]:
import pandas as pd

In [2]:
mylist = [('a', '1'), ('a', '2'), ('b', '1')]
df = pd.DataFrame(mylist, columns=['col1', 'col2'])
df.groupby('col2')['col1'].agg(lambda x: x.to_list()).reset_index()

  col2    col1
0    1  [a, b]
1    2     [a]

In [3]:
from dataclasses import dataclass, field, asdict
from typing import List

In [4]:
from dataclasses import dataclass, field, asdict
from typing import List

@dataclass
class Vacancy:
    Id : str = ''
    Employer : str = ''
    Name : str = ''
    Salary : bool = ''
    From : int = 0
    To : int = 0
    Experience : str = ''
    Schedule : str = ''
    Keys : List[str] = field(default_factory=lambda: [])
    Description : str = ''
    Url : str = ''

Vacancy()

Vacancy(Id='', Employer='', Name='', Salary='', From=0, To=0, Experience='', Schedule='', Keys=[], Description='', Url='')

In [5]:
list(['sdf'])

['sdf']

In [6]:
list(asdict(Vacancy()).keys())

['Id',
 'Employer',
 'Name',
 'Salary',
 'From',
 'To',
 'Experience',
 'Schedule',
 'Keys',
 'Description',
 'Url']

In [10]:
def myfun(x):
    print(type(x))
    return pd.Series(asdict(Vacancy()).values())

x = pd.DataFrame()
x[list(asdict(Vacancy()).keys())] = df.apply(lambda x: myfun(x), axis=1)
x

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

  Id Employer Name Salary  From  To Experience Schedule Keys Description Url
0                             0   0                       []
1                             0   0                       []
2                             0   0                       []

In [8]:
df

,col1,col2,Id,Employer,Name,Salary,From,To,Experience,Schedule,Keys,Description,Url
0,a,1,,,,,0,0,,,[],,
1,a,2,,,,,0,0,,,[],,
2,b,1,,,,,0,0,,,[],,

In [11]:
df

,col1,col2,Id,Employer,Name,Salary,From,To,Experience,Schedule,Keys,Description,Url
0,a,1,,,,,0,0,,,[],,
1,a,2,,,,,0,0,,,[],,
2,b,1,,,,,0,0,,,[],,

In [13]:
df.drop(df[df.col2 == '2'].index)

,col1,col2,Id,Employer,Name,Salary,From,To,Experience,Schedule,Keys,Description,Url
0,a,1,,,,,0,0,,,[],,
2,b,1,,,,,0,0,,,[],,

In [18]:
i = 123
s = str(i)
s[:1000]

'123'

In [28]:
df = pd.DataFrame()
df['id'] = [i for i in range(100_000)]

df.shape

(100000, 1)

In [29]:
from tqdm import tqdm

filename = '../temp/temp_test.csv'
with open(filename, 'w', encoding='utf-8') as f:
    f.write(','.join(asdict(Vacancy()).keys())+'\n')

    for id in tqdm(df['id']):
        v = Vacancy(Id = id)
        f.write(','.join(str(asdict(v).values()))+'\n')

x = pd.read_csv(filename)
x.head(10)

100%|██████████| 100000/100000 [00:04<00:00, 22055.30it/s]

ParserError: Error tokenizing data. C error: Expected 64 fields in line 12, saw 65

In [31]:
from tqdm import tqdm

data = []
for id in tqdm(df['id']):
    v = Vacancy(Id = id)
    data.append(v)

x = pd.DataFrame(data)
print(x.shape)
x.head()

100%|██████████| 100000/100000 [00:00<00:00, 220171.13it/s]

(100000, 11)

   Id Employer Name Salary  From  To Experience Schedule Keys Description Url
0   0                          0   0                       []
1   1                          0   0                       []
2   2                          0   0                       []
3   3                          0   0                       []
4   4                          0   0                       []

In [34]:
x = pd.read_csv('../data/hh_parsed_folder/2023-05-17-DATA-4.csv')
x.shape

(500, 13)