In [45]:
import json
from dataclasses import dataclass, asdict

@dataclass
class ParserConfig:
    min_random_sleep_ms : int = 1500
    max_random_sleep_ms : int = 4000
    max_requests_per_session : int = 100
    data_path = 'data/hh_parsed_folder'
    search_resuests = ['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst']

config_file_name = 'cnf/hh_parser.json'

a = {
    'min_random_sleep_ms' :  1500,
    'max_random_sleep_ms' :  4000,
    'max_requests_per_session' :  100,
    'data_path' : 'data/hh_parsed_folder',
    'search_resuests' : ['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst']
}

with open(config_file_name, 'w', encoding='utf-8') as f:
    json.dump(a, f, ensure_ascii=False)

with open(config_file_name, 'r', encoding='utf-8') as f:
    xx = json.load(f)
    print(xx)

{'min_random_sleep_ms': 1500, 'max_random_sleep_ms': 4000, 'max_requests_per_session': 100, 'data_path': 'data/hh_parsed_folder', 'search_resuests': ['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst']}

In [40]:
import jsonpickle
from dataclasses import dataclass, field
from typing import List

@dataclass
class ParserConfig:
    min_random_sleep_ms : int = 1500
    max_random_sleep_ms : int = 4000
    max_requests_per_session : int = 100
    data_path : str = 'data/hh_parsed_folder'
    search_resuests : List[str] = field(default_factory = lambda: (
        ['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst']))

config_file_name = 'cnf/hh_parser.json'

a = ParserConfig()

jsonpickle.set_preferred_backend('json')
jsonpickle.set_encoder_options('json', ensure_ascii=False)

with open(config_file_name, 'w', encoding='utf-8') as f:
    print(jsonpickle.encode(a, ))
    f.write(jsonpickle.encode(a))

with open(config_file_name, 'r', encoding='utf-8') as f:
    xx = jsonpickle.decode(f.read())
    print(xx)

{"py/object": "__main__.ParserConfig", "min_random_sleep_ms": 1500, "max_random_sleep_ms": 4000, "max_requests_per_session": 100, "data_path": "data/hh_parsed_folder", "search_resuests": ["data scientist", "аналитик данных", "machine learning", "data engineer", "data analyst"]}
ParserConfig(min_random_sleep_ms=1500, max_random_sleep_ms=4000, max_requests_per_session=100, data_path='data/hh_parsed_folder', search_resuests=['data scientist', 'аналитик данных', 'machine learning', 'data engineer', 'data analyst'])

In [3]:
import requests

payload = {'search_period': 14,
            'text': 'datascientist',
            'ored_clusters': True,
            'enable_snippets': True,
            'clusters': True,
            'area': 113,  # 113 - Russia
            'hhtmFrom': 'vacancy_search_catalog',
            'page': 1}

sessia = requests.Session()

req = sessia.get('https://hh.ru/search/vacancy?text=data+scientist', headers={'User-Agent': 'Custom'})

with open('temp.html', 'w') as f:
    f.write(req.text)

In [47]:
ParserConfig(max_random_sleep_ms=123) or ParserConfig()

ParserConfig(min_random_sleep_ms=1500, max_random_sleep_ms=123, max_requests_per_session=100)

In [ ]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

driver.maximize_window()
driver.implicitly_wait(30)
wait = WebDriverWait(driver, 30)
driver.get("https://www.flashscore.com/football/albania/")
wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "button#onetrust-accept-btn-handler"))).click()
try:
    wait.until(EC.presence_of_element_located((By.ID, "live-table")))
    wait.until(EC.visibility_of_element_located((By.CSS_SELECTOR, "section.event")))
    print(driver.page_source)
finally:
    driver.quit()

In [8]:
from datetime import datetime
datetime.today().strftime('%Y-%m-%d')

'2023-05-17'

In [9]:
# Python program to explain os.path.join() method

# importing os module
import os

# Path
path = "/home"

# Join various path components
print(os.path.join(path, "User/Desktop", "file.txt"))


# Path
path = "User/Documents"

# Join various path components
print(os.path.join(path, "/home", "file.txt"))

# In above example '/home'
# represents an absolute path
# so all previous components i.e User / Documents
# are thrown away and joining continues
# from the absolute path component i.e / home.


# Path
path = "/User"

# Join various path components
print(os.path.join(path, "Downloads", "file.txt", "/home"))

# In above example '/User' and '/home'
# both represents an absolute path
# but '/home' is the last value
# so all previous components before '/home'
# will be discarded and joining will
# continue from '/home'

# Path
path = "/home"

# Join various path components
print(os.path.join(path, "User/Public/", "Documents", ""))

# In above example the last
# path component is empty
# so a directory separator ('/')
# will be put at the end
# along with the concatenated value

/home/User/Desktop/file.txt
/home/file.txt
/home
/home/User/Public/Documents/

In [1]:
import pandas as pd

In [2]:
mylist = [('a', '1'), ('a', '2'), ('b', '1')]
df = pd.DataFrame(mylist, columns=['col1', 'col2'])
df.groupby('col2')['col1'].agg(lambda x: x.to_list()).reset_index()

  col2    col1
0    1  [a, b]
1    2     [a]

In [3]:
from dataclasses import dataclass, field, asdict
from typing import List

In [4]:
from dataclasses import dataclass, field, asdict
from typing import List

@dataclass
class Vacancy:
    Id : str = ''
    Employer : str = ''
    Name : str = ''
    Salary : bool = ''
    From : int = 0
    To : int = 0
    Experience : str = ''
    Schedule : str = ''
    Keys : List[str] = field(default_factory=lambda: [])
    Description : str = ''
    Url : str = ''

Vacancy()

Vacancy(Id='', Employer='', Name='', Salary='', From=0, To=0, Experience='', Schedule='', Keys=[], Description='', Url='')

In [5]:
list(['sdf'])

['sdf']

In [6]:
list(asdict(Vacancy()).keys())

['Id',
 'Employer',
 'Name',
 'Salary',
 'From',
 'To',
 'Experience',
 'Schedule',
 'Keys',
 'Description',
 'Url']

In [10]:
def myfun(x):
    print(type(x))
    return pd.Series(asdict(Vacancy()).values())

x = pd.DataFrame()
x[list(asdict(Vacancy()).keys())] = df.apply(lambda x: myfun(x), axis=1)
x

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

  Id Employer Name Salary  From  To Experience Schedule Keys Description Url
0                             0   0                       []
1                             0   0                       []
2                             0   0                       []

In [8]:
df

,col1,col2,Id,Employer,Name,Salary,From,To,Experience,Schedule,Keys,Description,Url
0,a,1,,,,,0,0,,,[],,
1,a,2,,,,,0,0,,,[],,
2,b,1,,,,,0,0,,,[],,

In [11]:
df

,col1,col2,Id,Employer,Name,Salary,From,To,Experience,Schedule,Keys,Description,Url
0,a,1,,,,,0,0,,,[],,
1,a,2,,,,,0,0,,,[],,
2,b,1,,,,,0,0,,,[],,

In [13]:
df.drop(df[df.col2 == '2'].index)

,col1,col2,Id,Employer,Name,Salary,From,To,Experience,Schedule,Keys,Description,Url
0,a,1,,,,,0,0,,,[],,
2,b,1,,,,,0,0,,,[],,

In [18]:
i = 123
s = str(i)
s[:1000]

'123'

In [28]:
df = pd.DataFrame()
df['id'] = [i for i in range(100_000)]

df.shape

(100000, 1)

In [29]:
from tqdm import tqdm

filename = '../temp/temp_test.csv'
with open(filename, 'w', encoding='utf-8') as f:
    f.write(','.join(asdict(Vacancy()).keys())+'\n')

    for id in tqdm(df['id']):
        v = Vacancy(Id = id)
        f.write(','.join(str(asdict(v).values()))+'\n')

x = pd.read_csv(filename)
x.head(10)

100%|██████████| 100000/100000 [00:04<00:00, 22055.30it/s]

ParserError: Error tokenizing data. C error: Expected 64 fields in line 12, saw 65

In [31]:
from tqdm import tqdm

data = []
for id in tqdm(df['id']):
    v = Vacancy(Id = id)
    data.append(v)

x = pd.DataFrame(data)
print(x.shape)
x.head()

100%|██████████| 100000/100000 [00:00<00:00, 220171.13it/s]

(100000, 11)

   Id Employer Name Salary  From  To Experience Schedule Keys Description Url
0   0                          0   0                       []
1   1                          0   0                       []
2   2                          0   0                       []
3   3                          0   0                       []
4   4                          0   0                       []

In [34]:
x = pd.read_csv('../data/hh_parsed_folder/2023-05-17-DATA-4.csv')
x.shape

(500, 13)

In [44]:
import time

for _, row in tqdm(x.iterrows(), total=x.shape[0]):
    time.sleep(0.05)

 15%|█▍        | 73/500 [00:04<00:24, 17.79it/s]

KeyboardInterrupt:

In [49]:
x

,vacancy_id,employer,name,salary_row,salary,salary_from,salary_to,experience,schedule,skills,description,address,url
0,78571811,Сеть аптек Апрель,Помощник экономиста-аналитика,от 30 000 руб. на руки,NaN,0,0,не требуется,"Полная занятость, полный день","['Маржинальный анализ', 'Анализ бизнес показат...",\n\n\n\n\n\n\n\nСтань частью нашей\nкоманды!\n...,"Краснодар, микрорайон Юбилейный, проспект Чеки...",https://hh.ru/vacancy/78571811
1,78572375,Юговской Комбинат Молочных Продуктов,Инженер-эколог / Инженер по охране окружающей ...,от 50 000 руб. на руки,NaN,0,0,1–3 года,"Полная занятость, полный день",['Проведение внутреннего экологического аудита...,Юговской Комбинат Молочных Продуктов является ...,поселок Юг,https://hh.ru/vacancy/78572375
2,78572464,ООО Парадокс,Аналитик в области информационных систем,з/п не указана,NaN,0,0,1–3 года,"Полная занятость, полный день","['SQL', 'Разработка технических заданий', 'Биз...","Про нас: Мы – ООО Парадокс, входим в группу ко...","Магнитогорск, улица Жукова, 13",https://hh.ru/vacancy/78572464
3,78575334,Газпромбанк,Бизнес-аналитик (Глоссарий банка),з/п не указана,NaN,0,0,более 6 лет,"Полная занятость, полный день",[],"\n\n\n\n\n\n\n\n\nГазпромбанк — это место, где...","Москва, Озерковская набережная, 24",https://hh.ru/vacancy/78575334
4,78578222,ЗАО Группа компаний С7,Аналитик (отдел отчетности),з/п не указана,NaN,0,0,1–3 года,"Полная занятость, полный день",[],Корпоративный офис по управлению данными заним...,"Новосибирск, Октябрьская, улица Кирова, 23",https://hh.ru/vacancy/78578222
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,79136263,ООО НПО ПКРВ,Ведущий инженер-программист АСУ ТП,от 180 000 руб. на руки,NaN,0,0,3–6 лет,"Полная занятость, полный день","['SCADA', 'Автоматизация производства', 'Прогр...",Право на отсрочку от призыва на военную службу...,"Москва, Проспект Мира, Банный переулок, 9",https://hh.ru/vacancy/79136263
496,79138276,ООО Тендер В Компани,Менеджер по работе с клиентами,от 55 200 до 152 000 руб. на руки,NaN,0,0,не требуется,"Полная занятость, полный день",[],"Добрый день, дорогой кандидат. Эту вакансию дл...","Омск, улица Фрунзе, 1к3",https://hh.ru/vacancy/79138276
497,79138879,ПАО МТС,Ведущий специалист по работе с государственным...,от 100 000 руб. до вычета налогов,NaN,0,0,1–3 года,"Полная занятость, полный день","['Корпоративные продажи', 'Активные продажи', ...",МТС — это мультисервисная цифровая экосистем...,"Нижний Новгород, Горьковская, улица Максима Го...",https://hh.ru/vacancy/79138879
498,79139818,ООО Ньютон Технологии,"Java разработчик (middle), удаленно",з/п не указана,NaN,0,0,3–6 лет,"Полная занятость, удаленная работа","['Java', 'Spring Boot', 'Spring', 'Spring Data...",ООО «Ньютон Технологии» –– продуктовая IT-комп...,NaN,https://hh.ru/vacancy/79139818
499,79140782,Компания Гармония,Аналитик (маркетплейсы),з/п не указана,NaN,0,0,1–3 года,"Полная занятость, полный день","['Работа в Excel', 'Анализ данных']",Крупнейший дистрибьютор в России ТМ Schwarzkop...,"Нижний Новгород, улица Коминтерна, 41В",https://hh.ru/vacancy/79140782

In [50]:
'sdfsd-IDS.csv'.endswith('IDS.csv')

True

In [51]:
a = None
b = ''
c = 0

# a?.b
_v = a
if _v is not None:
    _v = _v.b

In [52]:
(a?.b ?? d).c = 1

SyntaxError: invalid syntax (3361516029.py, line 1)

In [54]:
e = ValueError('saaasd')
e.args

('saaasd',)

In [75]:
import json
from typing import Dict
import requests

EXCHANGE_URL = "https://api.exchangerate-api.com/v4/latest/RUB"

def fetch_exchange_rates() -> Dict[str, float]:
    """Parse exchange rates for RUB, USD, EUR"""

    try:
        response = requests.get(EXCHANGE_URL)
        rates = response.json()["rates"]
        rates["RUR"] = rates["RUB"]
        return rates
    except requests.exceptions.SSLError as e:
        raise AssertionError("Cannot get exchange rate! Try later or change the host API") from e

if __name__ == "__main__":
    rates = fetch_exchange_rates()
    print(rates)

{'RUB': 1, 'AED': 0.0456, 'AFN': 1.09, 'ALL': 1.29, 'AMD': 4.79, 'ANG': 0.0222, 'AOA': 6.61, 'ARS': 2.86, 'AUD': 0.0187, 'AWG': 0.0222, 'AZN': 0.0211, 'BAM': 0.0224, 'BBD': 0.0248, 'BDT': 1.34, 'BGN': 0.0224, 'BHD': 0.00467, 'BIF': 34.98, 'BMD': 0.0124, 'BND': 0.0167, 'BOB': 0.086, 'BRL': 0.0614, 'BSD': 0.0124, 'BTN': 1.02, 'BWP': 0.168, 'BYN': 0.0361, 'BZD': 0.0248, 'CAD': 0.0167, 'CDF': 28.24, 'CHF': 0.0112, 'CLP': 9.91, 'CNY': 0.0868, 'COP': 56.22, 'CRC': 6.63, 'CUP': 0.298, 'CVE': 1.26, 'CZK': 0.271, 'DJF': 2.21, 'DKK': 0.0855, 'DOP': 0.677, 'DZD': 1.69, 'EGP': 0.383, 'ERN': 0.186, 'ETB': 0.678, 'EUR': 0.0115, 'FJD': 0.0276, 'FKP': 0.00996, 'FOK': 0.0855, 'GBP': 0.00996, 'GEL': 0.0313, 'GGP': 0.00996, 'GHS': 0.138, 'GIP': 0.00996, 'GMD': 0.736, 'GNF': 106.35, 'GTQ': 0.0968, 'GYD': 2.63, 'HKD': 0.0972, 'HNL': 0.305, 'HRK': 0.0863, 'HTG': 1.79, 'HUF': 4.22, 'IDR': 183.64, 'ILS': 0.0453, 'IMP': 0.00996, 'INR': 1.02, 'IQD': 16.27, 'IRR': 519.77, 'ISK': 1.73, 'JEP': 0.00996, 'JMD': 1.92, 'JOD': 0.0088, 'JPY': 1.7, 'KES': 1.7, 'KGS': 1.09, 'KHR': 50.96, 'KID': 0.0187, 'KMF': 5.64, 'KRW': 16.6, 'KWD': 0.00381, 'KYD': 0.0103, 'KZT': 5.57, 'LAK': 216.09, 'LBP': 186.26, 'LKR': 3.81, 'LRD': 2.08, 'LSL': 0.239, 'LYD': 0.0594, 'MAD': 0.126, 'MDL': 0.22, 'MGA': 54.56, 'MKD': 0.706, 'MMK': 26.06, 'MNT': 43.27, 'MOP': 0.1, 'MRU': 0.427, 'MUR': 0.563, 'MVR': 0.191, 'MWK': 12.78, 'MXN': 0.218, 'MYR': 0.0561, 'MZN': 0.796, 'NAD': 0.239, 'NGN': 5.72, 'NIO': 0.454, 'NOK': 0.134, 'NPR': 1.64, 'NZD': 0.0199, 'OMR': 0.00477, 'PAB': 0.0124, 'PEN': 0.0459, 'PGK': 0.0438, 'PHP': 0.696, 'PKR': 3.53, 'PLN': 0.0515, 'PYG': 89.03, 'QAR': 0.0452, 'RON': 0.0566, 'RSD': 1.34, 'RWF': 14.23, 'SAR': 0.0466, 'SBD': 0.105, 'SCR': 0.169, 'SDG': 6.76, 'SEK': 0.13, 'SGD': 0.0167, 'SHP': 0.00996, 'SLE': 0.284, 'SLL': 283.59, 'SOS': 7.06, 'SRD': 0.462, 'SSP': 10.98, 'STN': 0.281, 'SYP': 30.75, 'SZL': 0.239, 'THB': 0.425, 'TJS': 0.135, 'TMT': 0.0433, 'TND': 0.0382, 'TOP': 0.0293, 'TRY': 0.246, 'TTD': 0.0842, 'TVD': 0.0187, 'TWD': 0.383, 'TZS': 29.31, 'UAH': 0.457, 'UGX': 46.33, 'USD': 0.0124, 'UYU': 0.484, 'UZS': 141.5, 'VES': 0.321, 'VND': 292.56, 'VUV': 1.48, 'WST': 0.0336, 'XAF': 7.52, 'XCD': 0.0335, 'XDR': 0.00921, 'XOF': 7.52, 'XPF': 1.37, 'YER': 3.1, 'ZAR': 0.239, 'ZMW': 0.231, 'ZWL': 14.71, 'RUR': 1}

In [84]:
from typing import Tuple
import re

_number_re = re.compile(r'\d+')
__DEFAULT_TAX = 0.13

ates = fetch_exchange_rates()

def parse_salary(salary_row) -> Tuple[bool, int, int]:
    """ Parse salary string
    return: has_salary, salary_rom, salary_to"""

    s = salary_row.replace(' ', '').replace(u'\xa0', '')
    if s is None or s == '':
        return False, None, None

    try:
        match = re.findall(_number_re, s)
        if len(match) == 0:
            return False, None, None

        exchange_rate = 1.0
        for k, v in rates.items():
            if k in s:
                exchange_rate = v
                break

        tax = __DEFAULT_TAX if s.lower().find('до вычета налогов'.replace(' ', '')) > 0 else 0
        koeff = (1 - tax) / exchange_rate

        if len(match) == 1:
            return True, int(koeff * int(match[0])), int(koeff * int(match[0]))
        else:
            return True, int(koeff * int(match[0])), int(koeff * int(match[1]))

    except Exception as e:
        return False, None, None

In [136]:
filename = '../data/hh_parsed_folder/2023-05-17-DATA-21.csv'

df = pd.read_csv(filename, encoding='utf-8')

df.employer = df.employer.str.replace(u'\xa0', ' ')
df.description = df.description.astype(str).apply(lambda x: x.replace('\n', ' ').replace(u'\xa0', ' '))

ids = pd.read_csv('../data/hh_parsed_folder/2023-05-17-IDS.csv')
df = df.merge(ids, how='left', on='vacancy_id')

df = df.drop(df[df['query'].isin(["['CV']", "['ml']", "['CV','ml']", "['ml','CV']"])].index)

df['salary'] = df['salary_row'].astype(str).apply(lambda x: parse_salary(x)[0])
df['salary_from'] = df['salary_row'].astype(str).apply(lambda x: parse_salary(x)[1])
df['salary_to'] = df['salary_row'].astype(str).apply(lambda x: parse_salary(x)[2])

df = df.replace('', None).replace('[]', '')

df.to_csv(filename, index=False, encoding='utf-8')
df.shape

(86, 14)

In [147]:
filename = '../data/hh_parsed_folder/2023-05-17-DATA-9.csv'

df = pd.read_csv(filename, encoding='utf-8')

df = df.drop(df[df['query'].isin(["['CV']", "['ml']", "['CV','ml']", "['ml','CV']"])].index)

df.to_csv(filename, index=False, encoding='utf-8')

In [151]:
from typing import Set

data_path : str = '../data/hh_parsed_folder'

def get_parsed_ids() -> Set[str]:
    """
    Find all parsed vacancy ids
    It's just collecting all saved data inside data folder
    In future it must be 
    """

    ids = set([])
    for fn in [x for x in os.listdir(data_path) if '-DATA-' in x and x.endswith('.csv')]:
        df = pd.read_csv(os.path.join(data_path, fn))
        ids = ids.union(list(df['vacancy_id']))

    return ids

parsed_ids = get_parsed_ids()

In [206]:
filename = '../data/processed/vacancies.csv'

df = pd.read_csv(filename, encoding='utf-8')

df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10488 entries, 0 to 10487
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   description           10488 non-null  object
 1   vacancy_id            10488 non-null  int64
 2   employer              10488 non-null  object
 3   name                  10488 non-null  object
 4   salary_row            10488 non-null  object
 5   salary                10488 non-null  bool
 6   salary_from           5712 non-null   float64
 7   salary_to             5712 non-null   float64
 8   experience            10488 non-null  object
 9   schedule              10488 non-null  object
 10  skills                10488 non-null  object
 11  address               6438 non-null   object
 12  url                   10488 non-null  object
 13  query                 10488 non-null  object
 14  publish_city_str      1615 non-null   object
 15  employment_type       10488 non-null  object
 16  employment_workhours  10488 non-null  object
 17  publish_date          1615 non-null   object
 18  city                  1593 non-null   object
 19  city_rating           10488 non-null  float64
dtypes: bool(1), float64(3), int64(1), object(15)
memory usage: 69.0 MB

In [202]:
from pandarallel import pandarallel

pandarallel.initialize(progress_bar=True)

df = pd.DataFrame()
df['x'] = list(range(100000))

def func(x):
    return x ** 2

# df.apply(func)
df.parallel_apply(func)

ModuleNotFoundError: No module named 'pandarallel'

In [210]:
""" 
Configuration files helper
    - typed configuration
    - saving in json
    - building default file or save current config

Exsample of using:

@dataclass
class ParserConfig:
    min_random_sleep_ms : int = 100
    max_random_sleep_ms : int = 300

if not os.path.isfile(SETTINGS_PATH):
    config.dump(ParserConfig(), SETTINGS_PATH)

self._config : ParserConfig = config.load(config_path) or ParserConfig()

Note:
    Json is good format, but yaml allow to comment

"""
import os
import jsonpickle

def config_dump(obj: object, config_path : str) -> None:
    """Save file with default config"""
    jsonpickle.set_preferred_backend('json')
    jsonpickle.set_encoder_options('json', ensure_ascii=False)

    with open(config_path, 'w', encoding='utf-8') as f:
        f.write(jsonpickle.encode(obj, indent=4))

def config_load(config_path : str) -> object:
    """load config from file
    exsabple of using: 
        self.config : ParserConfig = config.load(config_path) or ParserConfig()
        """

    jsonpickle.set_preferred_backend('json')
    jsonpickle.set_encoder_options('json', ensure_ascii=False)

    if config_path is not None and os.path.isfile(config_path):
        with open(config_path, 'r', encoding='utf-8') as f:
            return jsonpickle.decode(f.read())
    else:
        return None

In [217]:
correction_map = [
        ['1 С Бухгалтерия', '1С: Бухгалтерия'],
        ['1C ERP', '1C ЕРП', '1С: ERP'],
        ['1C', '1C', '1С.', '1c', '1с', '1C', '1С', 'Знание 1С'],
        ['AirfFlow', 'Airflow', 'AirFlow', 'Apache Airflow'],
        ['Apache Superset', 'Superset'],
        ['ERP', 'ERP)'],
        ['ETL\\\\ELT', 'ETL'],
        ['English', 'English for IT', 'Английский', 'Английский язык',
            'Английский язык (Intermediate)', 'Английский язык (уровень Intermediate)', 'Английский — B1 — Средний',
            'Английский язык (Upper-Intermediate)', 'Английский — B2 — Средне-продвинутый',
            'Знание английского языка', 'xa0— A1 — Начальный', 'xa0— A2 — Элементарный',
            'xa0— B1 — Средний', 'xa0— B2 — Средне-продвинутый', 'xa0— C1 — Продвинутый',
            'xa0— C2 — В совершенстве'],
        ['A/B тестирование', 'A/B тесты', 'a/b-experiments', 'A/B testing Power BI', 'Проведение тестирований',
            'А/Б тестирование', 'А/В тесты', 'АБ-тесты'],
        ['ABC analysis', 'ABC-анализ'],
        ['Регресcионное тестирование', 'Регрессионное тестирование'],
        ['1C: Предприятие', '1С: Предприятие'],
        ['Cassandra', 'Apache Cassandra'],
        ['Apache Hadoop', 'Hadoop', 'hadoop'],
        ['Apache Hive', 'Hive', 'hive'],
        ['Apache Kafka', 'Kafka'],
        ['Apache Spark', 'Spark'],
        ['AppMetrica', 'AppMetrika'],

        ['ML', 'ML Engineering', 'ML-методы', 'Машинное обучение', 'Machine Learning'],
        ['Analytics', 'Analysis', 'Analytical skills', 'Аналитик', 'Аналитика', 'analyst',
            'Аналитическая работа', 'Аналитические навыки', 'Аналитический склад ума',
            'Аналитическое мышление', 'Умение анализировать', 
            'Умение анализировать и интерпретировать данные'],
        ['Data Analysis', 'Data Analyst', 'Data Analytics'],
        ['Data Mining', 'Data Mining: Business Analytica', 'Data Mining: SPSS', 'Data Mining: Statistica'],
        ['Data инженер', 'Data Engineer', 'Data Engineering'],
        ['Dashboard', 'Dashboards'],
        ['Data Science', 'Data Scientist'],
        ['Машинное обучение', 'Machine Learning'],
        ['OLAP', 'OLAP-кубы', 'Olap (online analytical processing)', 'База данных: Olap'],
        ['ORACLE', 'Oracle Database', 'База данных: Oracle'],
        ['Вайлдберис', 'Вайлдберриз'],
        ['ERP', 'ERP Systems'],
        ['MS SQL', 'MS SQL Server'],
        ['MS Visio', 'Visio'],
        ['MS Access', 'Access', 'Microsoft Access'],
        ['MS Axapta', 'Axapta'],
        ['MS Azure', 'Azure', 'Microsoft Azure', 'Microsoft Azure Service Fabric'],
        ['MS Visual Studio', 'Microsoft Visual Studio'],
        ['MS Excel', 'MS Excel (уровень: программирование на VBA)', 'MC Excel', 'Знание Excel',
            'Знание Excel', 'Работа в Excel', 'Опытный пользователь Excel и MS Office',
            'Продвинутый пользователь Excel', 'Продвинутый пользователь MS Excel'],
        ['MS Internet', 'MS Internet Explorer'],
        ['MS Office', 'MS Office (Word', 'знание MS Office'],
        ['MS Outlook', 'Outlook)', 'Outlook'],
        ['MS Power BI', 'отчетность в Power BI', 'Power BI', 'Power Bl', 'PowerBI'],
        ['Power Query', 'Power qwery'],
        ['MS PowerPoint', 'PowerPoint'],
        ['MS SQL', 'MS SQL Server'],
        ['MS Visio', 'Visio'],
        ['Знание Word', 'умение работать с программами Word', 'MS Word', 'Word'],
        ['Интернет маркетинг', 'Интеренет-маркетинг', 'Internet Marketing'],
        ['Инженер данных', 'дата инженер', 'Data Engineer', 'Data Engineering', 'Data инженер'],
        ['Django', 'Django Framework'],
        ['IT', 'ИТ'],
        ['Логика', 'Логическое мышление'],
        ['Аналитик данных', 'Аналитика данных', 'Data Analysis', 'Data Analyst', 'Data Analytics'],
        ['Data Science', 'Data Scientist'],
        ['Нейронные сети', 'нейросети', 'Neural Networks', 'neural nets'],
        ['Озон', 'Ozon'],
        ['Опытный пользователь ПК', 'Опытный пользовать ПК'],
        ['Ответственность', 'Ответственность и пунктуальность', 'Ответственный подход к работе'],
        ['Работа с соц.сетями', 'Работа с социальными сетями'],
        ['Разработка тестов', 'юнит-тестирование', 'Unit Testing'],
        ['С#', 'C#'],
        ['C++', 'C/C++'],
        ['CRM системы', 'CRM-система'],
        ['B2B Marketing', 'B2B маркетинг'],
        ['Arenadata', 'Arenadata DB (Greenplum)'],
        ['BPMN', 'BPMN 2.0'],
        ['Уверенный пользователь MS Office', 'Уверенный пользователь Microsoft Excel и 1С8', 'Уверенный пользователь ПК'],
        ['Умение анализировать', 'Умение анализировать и интерпретировать данные'],
        ['Умение организовать работу', 'Умение организовывать работу'],
        ['Яндекс.Метрика', 'Яндекс метрика'],
        ['методологии', 'методология'],
        ['техническое зрение', 'Computer Vision', 'машинное зрение'],
        ['руководство командой разработчиков', 'Leadership Skills', 'Лидерские качества', 
            'Лидерство', 'Team lead', 'Team management', 'Управление командой', 'Teamleading',
            'Teambuilding'],
        ['Product Owner', 'руководство проектом', 'Управление продуктом'],
        ['Project Manager', 'Project management', 'Управление проектами'],
        ['BI система', 'BI системы'],
        ['Jupiter', 'Jupyter Notebook'],
        ['Photon', 'Phyton', 'Python'],
        ['PostreSQL', 'PostgreSQL'],
        ['R', 'R-программирование'],
        ['SEO', 'SEO оптимизация', 'SEO-оптимизация карточек товара'],
        ['SIEM', 'SIEM systems'],
        ['SQL Server Reporting Services', 'SSRS'],
        ['SQL запросы', 'SQL программист', 'SQL.', 'SQL', 'Transact-SQL', 'Базовые знания SQL'],
        ['SWOT', 'SWOT анализ'],
        ['Software architect', 'Software architecture'],
        ['Spark', 'Spark SQL', 'Spark Streaming'],
        ['Spring', 'Spring Framework'],
        ['Web Design', 'Web-дизайн'],
        ['image processing', 'Обработка изображений'],
        ['.NET Framework', '.NET'],
        ['UX/UI', 'UI/UX'],
        ['Use Case Analysis', 'Use cases'],
        ['GOlang', 'go'],
        ['Google Cloud', 'Google Cloud Platform'],
        ['Google Analytics', 'Google Analytics 360 and GA4'],
        ['Google Data Studio', 'Google Data Studiо'],
        ['Google Sheet', 'Google Sheets', 'Google Spreadsheets', 'Google tables', 'Google таблицы'],
        ['React', 'React.js', 'ReactJS'],
        ['Tableau', 'Tableu', 'Tabular Editor'],
        ['sklearn', 'Scikit-learn'],
        ['Высокая энергичность', 'Высокая энергичность и инициативность'],
        ['Гибкость', 'Гибкость мышления'],
        ['Грамотная письменная речь', 'Грамотная речь', 'Грамотная речь и письмо',
            'Грамотная устная и письменная речь', 'Грамотность'],
        ['Dashboards', 'Дашборды']
]


config_dump(correction_map, '../cnf/skill_aliases.json')

In [215]:
filename = '../data/hh_parsed_folder/2023-05-17-IDS.csv'

df = pd.read_csv(filename, encoding='utf-8')


df = df.drop(df[df['query'].isin(["['CV']", "['ml']", "['CV','ml']", "['ml','CV']"])].index)

df.to_csv(filename, index=False, encoding='utf-8')
df.shape

(8102, 2)

In [218]:
a = {'a':1}
len(a)

1

In [219]:
int(3.4)

3

In [220]:
skill_df = pd.read_csv('../data/features/skills.csv')
skill_df.sort_values(by='salary_q50', ascending=False).head(20)

      skill_name  skill_id  salary_q25  salary_q50  salary_q75  frequency
2695       Spark      2695    200075.0    287500.0    350000.0   0.013063
2210  ClickHouse      2210    194500.0    275000.0    307862.0   0.010011
1083       Kafka      1083    176325.0    267462.0    300000.0   0.015446
5710      Hadoop      5710    133425.0    246800.0    362500.0   0.017258
732       Golang       732    160000.0    241860.0    287500.0   0.005912
515   Kubernetes       515    167650.0    225000.0    300000.0   0.013730
2404         AWS      2404    175000.0    225000.0    417338.0   0.001621
691      Grafana       691    170000.0    220000.0    248675.0   0.006388
1539       NoSQL      1539    132675.0    207500.0    300000.0   0.003528
1268    Big Data      1268    130500.0    205000.0    300000.0   0.015160
4463         ETL      4463    174000.0    200100.0    250000.0   0.017639
1543       CI/CD      1543    180000.0    200000.0    240000.0   0.008772
140   TypeScript       140    145125.0    200000.0    285483.0   0.005435
4601    RabbitMQ      4601    150000.0    200000.0    241860.0   0.006674
1492       Redis      1492    131379.0    197500.0    302362.0   0.004291
721      MongoDB       721    116250.0    192500.0    260000.0   0.005721
223      Ansible       223    165000.0    190000.0    237500.0   0.007056
6242      DevOps      6242    130500.0    189435.0    229950.0   0.005244
6492        Java      6492    118750.0    180000.0    261000.0   0.029939
3416     Tableau      3416    120000.0    175000.0    240000.0   0.009630

In [223]:
skill_df.sort_values(by='frequency', ascending=False).head(10)

,skill_name,skill_id,salary_q25,salary_q50,salary_q75,frequency
393,SQL,393,69600.0,120000.0,180000.0,0.149218
551,Английский,551,65000.0,100000.0,160000.0,0.137014
545,Аналитическое мышление,545,50000.0,80000.0,121854.0,0.117182
6224,Работа в команде,6224,43065.0,60000.0,90000.0,0.116800
2189,Грамотная речь,2189,40000.0,60000.0,88625.0,0.091342
3966,Python,3966,90000.0,153300.0,227268.0,0.090198
1264,Ведение переговоров,1264,54810.0,78300.0,121800.0,0.062071
6747,Работа с большим объемом информации,6747,40000.0,59580.0,84868.0,0.061022
2196,Анализ данных,2196,50625.0,80000.0,121513.0,0.060641
1602,Linux,1602,66337.0,104700.0,170000.0,0.055587

In [226]:
len({0,1,2} & {20,3}) != 0

False

In [228]:
pd.read_csv('../data/processed/vacancies.csv', encoding='utf-8').head()

,description,vacancy_id,employer,name,salary_row,salary,salary_from,salary_to,experience,schedule,skills,address,url,query,publish_city_str,employment_type,employment_workhours,publish_date,city,city_rating
0,"""CLOXY"" - российский бренд женской одежды. Соб...",80150068,CLOXY,Швея,от 45 000 до 90 000 руб. на руки,True,45000.0,90000.0,не требуется,"Полная занятость, полный день","['Массовое производство', 'Швея', 'Швейное про...","Новосибирск, улица Королёва, 40к40",https://hh.ru/vacancy/80150068,['машинное обучение'],Вакансия опубликована 17 мая 2023 в Новосибирске,Полная занятость,Полный день,2023-05-17,Новосибирск,0.028206
1,"""DSM Group"" – признанный эксперт и надёжный па...",80485628,DSM Group,Аналитик,до 54 350 руб. на руки,True,54350.0,54350.0,не требуется,"Полная занятость, полный день","['Базы данных', 'SQL', 'MS SQL', 'Oracle Pl/SQ...","Москва, Белорусская, Савёловская, Савёловская,...",https://hh.ru/vacancy/80485628,"['аналитик данных', 'CV']",Вакансия опубликована 16 мая 2023 в Москве,Полная занятость,Полный день,2023-05-16,Москва,0.403085
2,"""SHE"" - это проект, который концентрирует вним...",80192310,Ресторан SHE,"Официант в ресторан ""She"" (на Большой Никитской)",от 110 000 до 140 000 руб. на руки,True,110000.0,140000.0,1–3 года,"Полная занятость, сменный график","['Грамотная речь', 'знание русского языка', 'А...","Москва, Александровский сад, Арбатская, Арбатс...",https://hh.ru/vacancy/80192310,['Artificial intelligence'],Вакансия опубликована 8 мая 2023 в Москве,Полная занятость,Сменный график,2023-05-08,Москва,0.403085
3,"""SHE"" - это проект, который концентрирует вним...",80167777,Ресторан SHE,"Повар холодного цеха в ресторан ""She""",от 70 000 до 80 000 руб. на руки,True,70000.0,80000.0,1–3 года,"Полная занятость, сменный график","['Работа в команде', 'Обучение и развитие', 'П...","Москва, Александровский сад, Арбатская, Арбатс...",https://hh.ru/vacancy/80167777,['Artificial intelligence'],Вакансия опубликована 5 мая 2023 в Москве,Полная занятость,Сменный график,2023-05-05,Москва,0.403085
4,"""SHE"" - это проект, который концентрирует вним...",80526157,Ресторан SHE,"Повар кондитер в ресторан ""She""",от 70 000 до 80 000 руб. на руки,True,70000.0,80000.0,1–3 года,"Полная занятость, сменный график","['Работа в команде', 'Обучение и развитие', 'П...","Москва, Александровский сад, Арбатская, Арбатс...",https://hh.ru/vacancy/80526157,['Artificial intelligence'],Вакансия опубликована 16 мая 2023 в Москве,Полная занятость,Сменный график,2023-05-16,Москва,0.403085