In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/features/skills.csv', encoding='utf-8')

In [6]:
df.head()

,skill_name,skill_id,salary_q25,salary_q50,salary_q75,frequency,popular_profession_id,popular_profession_name,Аналитик данных,Инженер данных,...,Продуктовый аналитик,ML инженер,Computer Vision,Администратор баз данных,Аналитик BI,NLP,Аналитик,Big Data,Системный аналитик,Бизнес-аналитик
0,Навыки продаж,0,NaN,NaN,NaN,0.000795,12,Бизнес-аналитик,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000169,0.000000,0.000000,0.000330
1,A/B тесты,1,105000.0,150000.0,245000.0,0.027220,3,Продуктовый аналитик,0.008351,0.000252,...,0.049612,0.000903,0.004202,0.0,0.000000,0.0,0.004217,0.002962,0.000657,0.002312
2,BPMN,2,98853.0,148950.0,180000.0,0.097755,11,Системный аналитик,0.001909,0.000000,...,0.001550,0.000903,0.000000,0.0,0.004878,0.0,0.005398,0.003949,0.060815,0.045079
3,Хранилище данных,3,NaN,NaN,NaN,0.008146,1,Инженер данных,0.000239,0.007822,...,0.000000,0.003613,0.000000,0.0,0.000000,0.0,0.000928,0.002962,0.000000,0.000000
4,Мониторинг метрик,4,NaN,NaN,NaN,0.000199,9,Аналитик,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000084,0.000000,0.000000,0.000000

In [15]:
n = 20
skills = df.sort_values('frequency',ascending = False).groupby('popular_profession_id').head(n)['skill_name']

with open('../data/features/mini-skills.txt', 'w') as f:
    f.writelines([x + '\n' for x in sorted(skills)])

In [9]:
pd.read_csv('../data/processed/vacancies.csv', encoding='utf-8')[['vacancy_id', 'name', 'query']]

,vacancy_id,name,query
3215,80432602,Старший инженер технической поддержки,['инженер данных']
7593,80246195,Старший персональный менеджер,['Artificial intelligence']
12471,80506204,Руководитель продуктовой аналитики в направлен...,"['data science', 'data analyst', 'data']"
10584,77422783,Инженер-проектировщик слаботочных систем,['инженер данных']
2490,76959978,Ведущий бизнес аналитик IT (senior/middle),['business analyst']
513,79392813,Руководитель отдела квалификации,"['машинное обучение', 'data', 'Big Data']"
1605,80245126,Специалист по ценообразованию,['аналитик данных']
3019,80144700,Врач психиатр-нарколог в психдиспансер,['Artificial intelligence']
2589,80502454,Бизнес-аналитик/менеджер проекта,['business analyst']
2242,80522993,Инженер данных,['инженер данных']
9105,80522408,Инженер-геодезист камеральной группы,['инженер данных']
444,80216597,Аналитик BI / Владелец системы отчетности,['business analyst']
4640,78657302,Специалист по внедрению CRM,['business analyst']
2131,76267012,Бизнес - аналитик 1С / Консультант 1С,['business analyst']
8555,80406301,Инженер,['инженер данных']
7450,76678627,Менеджер по корпоративным продажам,['business analyst']
7979,78721824,Врач статистик,['специалист по данным']
7607,80284754,Руководитель отдела продаж,['машинное обучение']
6678,80032455,Java Developer (Senior),"['data analyst', 'data engineer', 'Data Archit..."
7852,80029768,Специалист по охране труда и технике безопасности,['машинное обучение']
2160,80558611,Разработчик 1С (3-я линия технической поддержки),['аналитик данных']
7120,80521779,Портфельный риск-аналитик (управляющий директор),['аналитик данных']
2302,79925773,Старший менеджер проектов по развитию корпорат...,"['data', 'Big Data']"
5683,80614174,Сервис-менеджер для корпоративных клиентов (В2В),['Artificial intelligence']
1691,80262899,C++ software engineer (L1),['инженер данных']
8765,78420575,Менеджер по продажам ключевым клиентам,"['data engineer', 'data']"
12028,80580141,Руководитель проектов улучшения клиентского опыта,['аналитик данных']
8806,80556796,Печатник цифровой печати (оператор цифровой пе...,['машинное обучение']
1896,80512843,Инженер технической поддержки,['инженер данных']
8310,76208078,Инженер отдела по организации безопасности и к...,['инженер данных']
5838,79847581,Специалист индивидуального подбора,['Artificial intelligence']
4601,78128781,Middle Data scientist (Промо Прогноз),"['data scientist', 'machine learning', 'deep l..."
11282,79816841,C++/Qt/QML разработчик (Аврора/Android),['Artificial intelligence']
949,38813991,.net разработчик,['инженер данных']
10502,72404109,Оператор службы поддержки,"['специалист по данным', 'машинное обучение']"
11938,79114344,Бизнес-аналитик (по автоматизации бизнес-проце...,['business analyst']
8218,79445673,Экономист-аналитик,['аналитик данных']
6950,79501644,Администратор магазина,['аналитик данных']
2694,79478024,Data Engineer в команду «Сеть Продаж»,"['data science', 'ml', 'data engineer', 'data']"
6,80526157,"Повар кондитер в ресторан ""She""",['Artificial intelligence']

In [2]:
for a, b in enumerate(set(['a', 'b', 'c'])):
    print(a, b)

0 a
1 c
2 b

In [50]:
import numpy as np
import pandas as pd
from typing import Tuple, Dict, List
import re
from tqdm import tqdm
import pickle
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [51]:
df = pd.read_csv('../data/processed/vacancies.csv', encoding='utf-8')

with open('../data/features/skill_index_to_corrected.pkl', 'rb') as f:
    skill_index_to_corrected = pickle.load(f)
    
with open('../data/features/skill_original_to_index.pkl', 'rb') as f:
    skill_original_to_index = pickle.load(f)

r = re.compile('\\\\|////|,')
df['skill_set'] = df['skills'].apply(lambda s : {x.strip(" '") for x in re.split(r, s.strip('[]'))} - {''})
df['skill_ind_set'] = df.skill_set.apply(lambda x: {skill_original_to_index[s] for s in x})

nltk.download('stopwords')
stop_words = set(stopwords.words('english')).union(stopwords.words('russian'))

[nltk_data] Downloading package stopwords to /Users/dima/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [53]:
column = 'name_lemm'
#column = 'description_name'

skill_text = []
for si in tqdm(skill_index_to_corrected.keys()):
    #! можно только уникальные имена добавлять
    st = ' '.join(df[df.skill_ind_set.apply(lambda x: si in x)][column].unique())
    skill_text.append(st)

vectorizer = TfidfVectorizer(stop_words=list(stop_words))
X = vectorizer.fit_transform(skill_text)

filename = f'../data/features/matrix_{column}_tfidf.pkl'
with open(filename, 'wb') as f:
    # numpy for compatibility (35Mb numpy vs 0.4Mb scr_matrix)
    #  but for descriptins it's 650Mb!
    pickle.dump(X.toarray(), f)

100%|██████████| 2568/2568 [00:11<00:00, 221.33it/s]

In [45]:
X.shape

(2568, 1234)

In [33]:
len(skill_index_to_corrected.keys())

2568

In [23]:
X.shape

(3578, 1234)

In [19]:
len(vectorizer.vocabulary_)

1234

In [20]:
len(skill_index_to_corrected)

2568